name: "Build docker Slurm images"

on:
  pull_request:
    paths:
      - 'tests/integration/docker-slurm/Dockerfile*'
      - 'tests/integration/docker-slurm/*.conf'
      - 'tests/integration/docker-slurm/entrypoint.sh'
  push:
    paths:
      - 'tests/integration/docker-slurm/Dockerfile*'
      - 'tests/integration/docker-slurm/*.conf'
      - 'tests/integration/docker-slurm/entrypoint.sh'
  workflow_dispatch:

jobs:
  build_images:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: tests/integration/docker-slurm
    strategy:
      matrix:
        os: ["el7", "el8", "el9", "sl15", "ub20", "ub22"]
    steps:
      - uses: actions/checkout@v3
      - name: Get Slurm version
        id: get_slurm_version
        run: |
          slurm_version=$(cat current_version)
          echo "slurm_version=${slurm_version}" >> $GITHUB_OUTPUT
      - name: Build Docker image ghcr.io/neilmunday/slurm-mail/slurm-${{ matrix.os }}:${{ steps.get_slurm_version.outputs.slurm_version }}
        run: |
          docker build --build-arg SLURM_VER=${{ steps.get_slurm_version.outputs.slurm_version }} -f Dockerfile.${{ matrix.os }} -t ghcr.io/neilmunday/slurm-mail/slurm-${{ matrix.os }}:${{ steps.get_slurm_version.outputs.slurm_version }} -t ghcr.io/neilmunday/slurm-mail/slurm-${{ matrix.os }}:latest .
      - name: Push Docker image ghcr.io/neilmunday/slurm-mail/slurm-${{ matrix.os }}:${{ steps.get_slurm_version.outputs.slurm_version }}
        if: github.event.pull_request.merged == true
        run: |
          docker push -a ghcr.io/neilmunday/slurm-mail/slurm-${{ matrix.os }}
