name: mypy

on:
  pull_request:
    paths:
      - '.github/workflows/mypy.yml'
      - '**.py'
  push:
    paths:
      - '.github/workflows/mypy.yml'
      - '**.py'
  workflow_dispatch:

jobs:
  generate_python_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - id: set-matrix
        name: set-matrix
        run: |
          matrix=$(cat ./supported_python_versions.json)
          echo "matrix=${matrix}" >> $GITHUB_OUTPUT
  mypy:
    needs: generate_python_matrix
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ${{fromJson(needs.generate_python_matrix.outputs.matrix)}}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install bs4
        pip install aiosmtpd
        pip install PyYAML
        pip install mypy
        pip install pytest
        pip install requests
        pip install typing-extensions
        pip install types-beautifulsoup4
        pip install types-requests
    - name: Analysing the code with mypy
      run: |
        mypy $(git ls-files '*.py')
